<h1>Contatos</h1>
<table cellspacing="10">
<% @contacts.all.each do |contact| %>
  <tr>
    <td><%= link_to contact.email, contact_path(contact.email) %></td>
    <td><%= link_to "Excluir", contact_path(contact.email), method: :delete %></td>
  </tr>
<% end %>
</table>
<% if @contacts.all.size == 0 %>
  <em>Nenhum contato encontrado!</em>
<% end %>

