<h1>Contatos</h1>
<table>
  <tr>
    <th>Email</th>
  </tr>
<% Contact.all.each do |contact| %>
 <tr>
  <td><%= contact.email %></td>
 </tr>
<% end %>
<% if Contact.all.size == 0 %>
  <em>Nenhum contato encontrado!</em>
<% end %>
</table>

