<p><b>Email:</b> <%= @contact.email %></p>
<p><b>ID:</b><%= @contact.user %></p>

<h2>Acessos</h2>

<% @contact_accesses.all.each do |access| %>
<table>
  <tr>
    <% if access.url.split('/').size == 1 %>
      <td><%= link_to "HOME", access_path(access.id) %></td>
    <% else %>
      <td><%= link_to access.url.split('/').last.upcase, access_path(access.id) %></td>
    <% end %>
  </tr>
</table>
<% end %>
