<h1>Acessos</h1>
<table>
<% @accesses.all.each do |access| %>
 <tr>
  <td><b>Usuário:</b> <%= access.user %></td>
  <td><b>Url:</b><%= access.url %></td>
  <td><b>Data:</b><%= access.date %></td>
  <td><%= link_to "Excluir", access_path(access.id), method: :delete %></td>
 </tr>
<% end %>
</table>
<% if @accesses.all.size == 0 %>
  <em>Nenhum acesso encontrado!</em>
<% end %>

